heading {
	color: #8a9fff;
	font-family: "Brush Script MT", cursive;
	font-size: 400%;
	background-image: url("guitar.jpg");
	background-size: 80%;
	background-repeat: no-repeat;
	padding-right: 20%
	
}

Record {
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
	display: block;
	border-bottom: 1px solid #1E3FD1;
	padding: 20px 30px;
	font-weight: 700;
	background-color: #fff18a;
}

Record artist {
	font-size: 125%;
	color: #32a852;
	display: block;
}

Record title {
	font-size: 175%;
	color: #f04848;
	display: block;
}

Record genre {
	font-size: 110%;
	color: #0461b3;
	display: block;
}

Record year{
	display: block;
}